<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>강좌목록</title>
<link href="resources/css/bootstrap.min.css" rel="stylesheet">
<link href="resources/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h3>강좌 목록</h3>
				<table class="table table-hover table-condensed">
					<colgroup>
						<col width="80" align="center">
						<col width="100">
						<col width="30%">
						<col width="*">
						<col width="100">
						<col width="100">
					</colgroup>
					<thead>
						<tr>
							<th>No</th>
							<th>강좌ID</th>
							<th>강좌명</th>
							<th>강사</th>
							<th>UPDATE</th>
							<th>DELETE</th>
						</tr>
					</thead>
					<tbody>
						<tr>
                            <td>1</td>
                            <td>0</td>
                            <td><a href="detail.html">JSP와 Servlet</a></td>
                            <td>김은영</td>
                            <td><a class="btn btn-xs btn-warning" href="modify.html">UPDATE</a></td>
                            <td><a class="btn btn-xs btn-danger" href="#">DELETE</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>1</td>
                            <td><a href="detail.html">MyBatis</a></td>
                            <td>김은영</td>
                            <td><a class="btn btn-xs btn-warning" href="modify.html">UPDATE</a></td>
                            <td><a class="btn btn-xs btn-danger" href="#">DELETE</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>1</td>
                            <td><a href="detail.html">Spring F/W</a></td>
                            <td>김은영</td>
                            <td><a class="btn btn-xs btn-warning" href="modify.html">UPDATE</a></td>
                            <td><a class="btn btn-xs btn-danger" href="#">DELETE</a></td>
                        </tr>
					</tbody>
				</table>
				<a class="btn btn-sm btn-success" href="registerForm.html">강좌등록</a>
			</div>
		</div>
	</div>
</body>
</html>